<div class="footer">
    <p>&copy; {{ site.time | date: '%Y' }} Matt Lucht.</p>
     <p>The majority of the content on this site is published under a <a href="https://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 licence</a>.</p>

</div>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-C18J6Z0Z87"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-C18J6Z0Z87');
</script>