body {
  font-family: 'Funnel Sans', 'Raleway', sans-serif;
  font-size: 1.2rem;
  line-height: 1.6;
  margin: 0 auto;
  padding: 0 20px;
  width: 90%;
  max-width: 1200px;
}

.current {
  color: green;
}

img {
  width: 75%;
  height: auto;
  border: 1px solid #ccc;
}

row {
  display: flex;
  flex-wrap: wrap;
}

col {
  flex: 1;
  padding: 10px;
}

h1, h2 {
  font-weight: bold;
} 

h3 {
  color: #3D85C6;
}

.excerpt h2, .excerpt p {
  font-size: 1.2rem;
  font-style: italic;
  font-weight: normal;
}

.footer {
  padding: 20px;
  border-top: 1px solid #ddd;
  font-size: 1.1rem;
}

blockquote {
  border-left: 6px solid #3D85C6;

  padding-left: 15px;
  color: #555;
  font-style: italic;
}

blockquote p {
  margin: 0;
  padding: 0px 0;
}

.app-multi-image {
  --gap-size: 3.75px;
  --extra-size: 0;
  display: flex;
  margin-right: 0;
  margin-bottom: var(--vertical-spacing);
  flex-wrap: wrap;
  row-gap: calc(var(--gap-size) * 2);
}
.app-multi-image img {
  box-sizing: border-box;
  width: 50%;
  aspect-ratio: 4/3;
}
.app-multi-image img:nth-child(odd) {
  padding-right: var(--gap-size);
}
.app-multi-image img:nth-child(even) {
  padding-left: var(--gap-size);
}
@media (min-width: 46.25em) {
  .app-multi-image {
    --gap-size: 7.5px;
    --extra-size: 20%;
  }
}
.app-multi-image .app-multi-image__caption {
  padding: 0 15px;
  font-size: var(--x-small-font-size);
  color: var(--secondary-text-colour);
}
@media (min-width: 46.25em) {
  .app-multi-image .app-multi-image__caption {
    padding: 0 30px;
    font-size: var(--small-screen-font-size);
  }
}